<section class="clients" aria-labelledby="clients-heading">
  <div class="clients__container">
    <header class="clients__header">
      <span class="clients__label">{{ 'clients.label' | translate }}</span>
      <h2 class="clients__heading" id="clients-heading">{{ 'clients.heading' | translate }}</h2>
    </header>

    <div class="clients__grid">
      @for (client of clients; track client.id) {
        <div class="clients__card">
          <span class="clients__card-name">{{ client.name }}</span>
        </div>
      }
    </div>
  </div>
</section>
